@import './../../scss/variables';

.game {
    padding: 3rem 3.75rem;
    color: $bg_color;
    font-size: .75rem;
    line-height: .75rem;
    font-weight: 400;
    &__flex__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
	    align-content: flex-start;
        margin-bottom: 1.4rem;
    }
    &__rightMenuBtns {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        &__heading {
            font-size: 1.5rem;
            line-height: 1.6rem;
            font-weight: 400;
            text-align: center;
            font-weight: 700;
            color: $heading_color;
            margin-top: 2rem;
        }
    }
}

@media (max-width: 450px){
    .game {
        padding: 1.5rem 2.25rem;
    }
}

@media (max-width: 600px){
    .game {
        padding: 2rem 2.75rem;
    }
}

@media (max-width: 1100px){
    .game {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
        padding: 3rem 3.75rem;
        &__flex__wrapper {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }
}






