@import './../../scss/variables';

header {
    height: 7.5rem;
    border-bottom: 1px solid $header_bg;
    padding: 2.5rem 3.5rem;
}
.navLink {
    text-decoration: none;
}

.logo {
    font-size: 1.125rem;
    font-weight: 900;
    line-height: 1;
    letter-spacing: .3rem;
    color: $bg_color;
}

.flex_wrapper {
    display: flex;
	justify-content: space-between;
	align-items: center; 
}

form {
    position: relative;
    width: 70vh;
    margin: 0 1rem;
    input {
        width: 100%;
        height: 2.6rem;
        padding-left: .6rem;
        border: 2px solid $header_bg;
        border-radius: 15px;
        outline: none;
        background: $header_bg;
        color: $input_color;
        transition: all .2s ease-in-out;
        &:hover, &:focus {
            background: $white; 
            border: 2px solid $black;
            transition: all .2s ease-in-out;
            color: $black;
        }
    }
    button {
        position: absolute; 
        top: 0;
        right: 0;
        width: 2.6rem;
        height: 2.6rem;
        border: none;
        background: transparent;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        color: $black;
    }
}

.wishList {
    cursor: pointer;
    h2 {
        position: relative;
    }
    span {
        position: absolute;
        top: 10px;
        left: 20px;
    }
    &__empty {
        color: $bg_color;
    }
    &__notEmpty {
        color: $wishlist_icon;
    }
}

.dropdown {
    &__container {
        position: absolute;
        top: 3rem; 
        left: 0;
        z-index: 15;
        display: block;
        height: auto;
        width: 100%;
        border-top: 1px solid hsla(0,0%,100%,.1);
    }
    &__content {
        border-radius: 1.2rem;
        padding: 0 16px;
        margin: 0 0 10px;
        background-color: $black;
    }
    &__item {
        color: $white;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}
