@import './../../scss/variables';

.game__availability {
    width: 35%;
    margin-bottom: .5rem;
    font-size: .9rem;
    font-weight: 500;
    &__flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        color: $bg_color;
        &__item {
            margin-bottom: .6rem;
        }
    }
    &__heading {
        text-transform: uppercase;
        line-height: .9rem;
        font-size: .9rem;
        color: $heading_color;
        margin-bottom: .6rem;
    }
    &__description {
        line-height: 1.2rem;
        font-size: .9rem;
        &__otherGames {
            line-height: 1.2rem;
            font-size: .9rem;
            text-decoration: underline;
            cursor: pointer;
            &:hover {
                color: $heading_color_hover;
            }
        }
    }
    &__otherGames {
        margin-top: 1rem;
    }
}

@media (max-width: 600px){
    .game__availability {
        &__heading {
            font-size: .8rem;
            line-height: .8rem;
        }
        &__description {
            line-height: 1rem;
            font-size: .8rem;
            &__otherGames {
                line-height: 1rem;
                font-size: .8rem;
            }
        }
        
    }
}

@media (max-width: 1100px){
    .game__availability {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            color: $bg_color;
            &__item {
                margin-bottom: .6rem;
                flex: 40%;
            }
        }
    }
}

