$black: #000;
$bg_color: #151515;
$bg_color_hover: #333333;

$item_color: #202020;
$game_card_color: #585858;

$heading_color: #818181;
$input_color: #898989;
$heading_color_hover: #919191;
$header_bg: #d8d8d8;

$white: #fff;
$container_color: #fefefe;

$metacritic_color: #6dc849;
$wishlist_color: #46b11b;
$wishlist_color_hover: #338115;

$wishlist_icon: #fd3030;

$preloader: #5c5c5c;
